.x10-mobile-homepage-1 {
  display: none !important;
}

@media (max-width: 480px) {
  .x10-mobile-homepage-1 {
    display: block !important;
  }
  .x10-desktop-homepage-1 {
    display: none !important;
  }
}